footer {
    text-align: center;
    padding: 1em;
    color: black;
    bottom: 0;
    position: fixed; 
    /* position: relative; */
    width: 100%;
  }
h1 {
    text-align: center;
}
a {
    color: black;
}