<!-- <h1 mat-dialog-title>update-patient</h1>
<div mat-dialog-content>
    <mat-form-field>

        <h6>FirstName</h6>
        <input matInput [(ngModel)]="data.firstName">
        <h6>Age</h6>
        <input matInput [(ngModel)]="data.age">
        <h6>PCP</h6>
        <input matInput [(ngModel)]="data.pcp">
    </mat-form-field>
</div>
<div mat-dialog-action>
    <button mat-button (click)="onUpdatePatient()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data">Update</button>
</div> -->

<mat-card  class="login-card">
    <mat-card-header>
        <mat-card-title>Update Patient</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="patientForm" autocomplete="off" 
            novalidate (ngSubmit)="savePatientDetail(patientForm.value)" >
            <mat-form-field>
                <input matInput [value]="data.firstName" 
                    formControlName="firstName"
                    placeholder="First Name" name="firstName">
            </mat-form-field>
            <mat-form-field>
                <input matInput [value]="data.age" 
                    formControlName="age"
                    placeholder="Age" name="age">
            </mat-form-field>
            <mat-form-field>
                <input matInput [value]="data.pcp" 
                    formControlName="pcp"
                    placeholder="PCP" name="pcp">
            </mat-form-field>
            <button mat-raised-button color="primary">Save</button>
        </form>
    </mat-card-content>
</mat-card>