<div class="row">
    <div class="column">
        <a style="cursor: pointer;" (click)="openViewDialog()"> {{ patient.firstName }}</a>
    </div>
    <div class="column">
        {{ patient.age }}
    </div>
    <div class="column">
        {{ patient.pcp }}
    </div>
    <div class="column">
        <button mat-raised-button color="primary" (click)="openUpdateDialog()" >Update</button>
    </div>
    <div class="column">
        <button mat-raised-button color="warn" (click)="openDeleteDialog()">Delete</button>
    </div>
</div>




